<%= render partial: "/static_pages/sections/header-top" %>
<div class="pt-4"></div>
<%= render partial: "/static_pages/sections/navbar" %>
<%= render partial: "/static_pages/sections/hero_banner" %>
<%= render partial: "/static_pages/sections/books" %>
<%= render partial: "/static_pages/sections/client_rev" %>
<%= render partial: "/static_pages/sections/faq" %>
<%= render partial: "/static_pages/sections/footer" %>