<%= render partial: "/static_pages/sections/header-top" %>
<div class="pt-4"></div>
<%= render partial: "/static_pages/sections/navbar" %>

<% @results.each do |result| %>

<div class="bg-white">
  <div class="mx-auto max-w-1xl px-8 sm:py-14 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-x-6 lg:px-8">
    
    <div class="lg:max-w-lg lg:self-end">
      <h1 class="text-left text-5xl font-bold dark_blue_text pb-16">Search Result</h1>
      <div class="aspect-w-1 aspect-h-1 overflow-hidden rounded-lg">
        <img src="<%= result.image_url %>" class="h-full w-full object-contain object-center">
      </div>
    </div>

    <!-- Product details -->
    <div class="mt-10 lg:col-start-2 lg:row-span-2 lg:mt-0 lg:self-center">
      <div class="mt-0">
          <h1 class="text-3xl font-bold dark_blue_text sm:text-4xl"><%= result.title %></h1>
        </div>
        <section aria-labelledby="information-heading" class="mt-4">
          <h2 id="information-heading" class="sr-only"></h2>
          <div class="flex flex-col">
            <p class="text-lg dark_blue_text sm:text-xl font-bold pb-12 pt-12">by <span class="text-medium text-md"><%= result.authors.pluck(:first_name, :middle_name, :last_name).map { |name| name.join(" ") }.join(", ") %> <br></p></p>
            <p class="text-lg dark_blue_text sm:text-xl font-bold pb-2">Edition: <span class="light_blue_text text-medium text-md"> <%= result.edition %></span></p>
            <p class="text-lg dark_blue_text sm:text-xl font-bold pb-2">Price: <span class="light_blue_text text-medium text-md"> PHP <%= result.list_price %></span></p>
            <p class="text-lg dark_blue_text sm:text-xl font-bold pb-2">ISBN: <span class="light_blue_text text-medium text-md"> <%= result.isbn_13 %></span></p>
            <p class="text-lg dark_blue_text sm:text-xl font-bold pb-2">Publication Year: <span class="light_blue_text text-medium text-md"> <%= result.publication_year %></span></p>
            <p class="text-lg dark_blue_text sm:text-xl font-bold pb-2">Publisher: <span class="light_blue_text text-medium text-md"> <%= result.publisher.name %></span></p>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<% end %>

<%= render partial: "/static_pages/sections/footer" %>
