<div class="books-main-container w-full pt-20 pb-12">
  <div class="flex flex-col">
    <h1 class="text-center text-5xl font-bold mb-5 dark_text">Explore Our Books</h1>
    <p class="text-center text-md text-black-600 font-semibold pt-5">With our dedicated customer support team, you can rest easy knowing that we’re doing everything <br>
      we can to save you time, money, and stress
    </p>
  </div>
  
  <!-- BOOKS -->
  <div class="mx-auto max-w-2xl py-16 sm:py-2 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="hidden flex justify-end lg:flex">
      <%= image_tag("arrow.svg", class: "books-arrow") %>
      <p id="inquire" class="text-sm text-right mb-8">Inquire us now to <br> avail discounts!</p>
    </div>
    
    <div class="grid grid-cols-1 gap-y-12 gap-x-4 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
      <a href="#" class="group">
        <div class="overflow-hidden rounded-lg">
          <%= image_tag("d-n-d.png", class: "h-auto w-80 object-contain object-center mx-auto group-hover:opacity-85 image_border") %>
        </div>
        <div class="mt-5 mb-2 flex items-center justify-between text-base font-medium text-gray-900 book_text">
          <h3 class="text-2xl font-bold sm:text-black lg:text-white xl:text-white 2xl:text-white">Doughnuts And Doom</h3>
        </div>
        <p class="mt-1 text-center lg:text-left light_blue_text2">View Book Details ></p>
      </a>

      <a href="#" class="group">
        <div class="overflow-hidden rounded-lg">
          <%= image_tag("the-bend.png", class: "h-auto w-80 object-contain object-center mx-auto group-hover:opacity-85 image_border") %>
        </div>
        <div class="mt-5 mb-2 flex items-center justify-between text-base font-medium text-gray-900 book_text">
          <h3 class="text-2xl font-bold sm:text-black lg:text-white xl:text-white 2xl:text-white">The Bend Of Luck</h3>
        </div>
        <p class="mt-1 text-center lg:text-left light_blue_text2">View Book Details ></p>
      </a>

      <a href="#" class="group">
        <div class="overflow-hidden rounded-lg">
          <%= image_tag("underwater.png", class: "h-auto w-80 object-contain object-center mx-auto group-hover:opacity-85 image_border") %>
        </div>
        <div class="mt-5 mb-2 flex items-center justify-between text-base font-medium text-gray-900 book_text">
          <h3 class="text-2xl font-bold sm:text-white lg:text-white xl:text-white 2xl:text-white">The Underwater Welder</h3>
        </div>
        <p class="mt-1 text-center lg:text-left light_blue_text2">View Book Details ></p>
      </a>
    </div>
  </div>

<!-- Lorem Impsum-->
  <div class="mx-auto mx-12 py-8 px-4 sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-16">
      <div class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none">
        <p class="text-md" style="color: #F6C644;">LOREM IPSUM</p>
        <h1 class="text-3xl text-white font-bold tracking-tight sm:text-4xl">3 Reasons To Shop With Us</h1>
      </div>
      <ul role="list" class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8">
        <li>
          <div class="space-y-4">
            <div>
              <%= image_tag("package-box.svg", class: "shop_icons") %>
            </div>

            <div class="space-y-2">
              <div class="space-y-6 text-lg font-medium leading-6">
                <h3 class="text-2xl font-bold text-white">All textbook rentals come <br> with free return shipping.</h3>
                <p class="text-white font-semibold text-base">Lorem ipsum dolor sit amet, consetetur <br>
                  sadipscing elitr, sed diam nonumy eirmod tempor <br>
                  invidunt ut labore et dolore Stet clita kasd <br>
                  gubergren, no sea takimata.
                </p>
              </div>  
            </div>
          </div>
        </li>

        <li>
          <div class="space-y-4">
            <div>
              <%= image_tag("help.svg", class: "shop_icons") %>
            </div>

            <div class="space-y-2">
              <div class="space-y-6 text-lg font-medium leading-6">
                <h3 class="text-2xl font-bold text-white">Dedicated customer <br> support and help portal.</h3>
                <p class="text-white font-semibold text-base">Lorem ipsum dolor sit amet, consetetur <br>
                  sadipscing elitr, sed diam nonumy eirmod tempor <br>
                  invidunt ut labore et dolore Stet clita kasd <br>
                  gubergren, no sea takimata.
                </p>
              </div>  
            </div>
          </div>
        </li>

        <li>
          <div class="space-y-4">
            <div>
              <%= image_tag("piggy-bank.svg", class: "shop_icons") %>
            </div>

            <div class="space-y-2">
              <div class="space-y-6 text-lg font-medium leading-6">
                <h3 class="text-2xl font-bold text-white">Buy or rent cheap textbooks <br> & save up to $500 per year!</h3>
                <p class="text-white font-semibold text-base">Lorem ipsum dolor sit amet, consetetur <br>
                  sadipscing elitr, sed diam nonumy eirmod tempor <br>
                  invidunt ut labore et dolore Stet clita kasd <br>
                  gubergren, no sea takimata.
                </p>
              </div>  
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>
 