<footer aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
    
      <div class="space-y-8 xl:col-span-1 w-80">
        <%= image_tag("xyz-logo.svg", class: "h-16") %>
        <p class="text-base text-black-900 text-semibold">Lorem ipsum dolor sit amet, consetetur
        sadipscing elitr, sed diam nonumy
        eirmod</p>

        <div>
          <label for="email" class="sr-only">Email</label>
            <input type="email" name="email" id="email" class="outline_search block rounded-full p-3 w-3/4 bg-opacity-5 shadow-sm sm:text-sm" placeholder="Email Address">
        </div>
      </div>
      <div class="mt-12 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-lg font-bold text-black-900">Menu</h3>
            <ul role="list" class="mt-4 space-y-4">
              <li><a href="#" class="text-base footer_sub_text">Shop All</a></li>
              <li><a href="#" class="text-base footer_sub_text">About Us</a></li>
              <li><a href="#" class="text-base footer_sub_text">Community</a></li>
              <li><a href="#" class="text-base footer_sub_text">FAQs</a></li>
            </ul>
          </div>

          <div class="mt-12 md:mt-0">
            <h3 class="text-lg font-bold text-black-900">Support</h3>
            <ul role="list" class="mt-4 space-y-4">
              <li><a href="#" class="text-base footer_sub_text">Shipping & Returns</a></li>
              <li><a href="#" class="text-base footer_sub_text">Help & FAQ</a></li>
              <li><a href="#" class="text-base footer_sub_text">Terms & Conditions</a></li>
              <li><a href="#" class="text-base footer_sub_text">Privacy Policy</a></li>
              <li><a href="#" class="text-base footer_sub_text">Contact</a></li>
              <li><a href="#" class="text-base footer_sub_text">Login</a></li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-lg font-bold text-black-900">Resources</h3>
            <ul role="list" class="mt-4 space-y-4">
              <li><a href="#" class="text-base footer_sub_text">Shipping & Returns</a></li>
              <li><a href="#" class="text-base footer_sub_text">Help & FAQ</a></li>
              <li><a href="#" class="text-base footer_sub_text">Terms & Conditions</a></li>
              <li><a href="#" class="text-base footer_sub_text">Privacy Policy</a></li>
              <li><a href="#" class="text-base footer_sub_text">Contact</a></li>
              <li><a href="#" class="text-base footer_sub_text">Login</a></li>
            </ul>
          </div>
            <div class="mt-12 md:mt-0 flex items-end justify-end">
              <div class="h-20 w-20 lg:mr-2 rounded-full flex items-center justify-center message_icon_bg">
                <%= image_tag("message_icon.svg", class: "h-10 w-auto") %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

<!-- ICONS -->
<div class="mx-auto max-w-7xl pb-20 pt-8 px-4 flex items-center justify-between lg:px-8">
  <div class="flex items-center">
    <p class="text-base text-black-400">&copy; 2022 Brainly.</p>
  </div>

  <div class="flex justify-center space-x-6">
    <div class="socials_icon">
      <a href="https://www.facebook.com" target="_blank">
        <%= image_tag("fb.svg", class: "w-8 h-8") %>
      </a>
    </div>

    <div class="socials_icon">
      <a href="https://www.linkedin.com" target="_blank">
        <%= image_tag("linkedin.svg", class: "w-8 h-8") %>
      </a>
    </div>

    <div class="socials_icon">
      <a href="https://twitter.com" target="_blank">
        <%= image_tag("twitter.svg", class: "w-8 h-8") %>
      </a>
    </div>

  </div>
</div>

    

</footer>