<div class="hero-main-container pb-12">
  <div class="relative overflow-hidden pt-2 pb-12">
    <div class="relative">
      <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
        <div class="mx-auto max-w-xl px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
          <div>
            <div class="mt-10">
              <h1 class="text-6xl font-bold tracking-tight mb-4 dark_blue_text">The Cheapest Textbooks</h1>
              <h3 class="text-3xl font-bold light_blue_text pt-5">Save up To 90% On Millions<br> Of Titles</h3>
              
              <p class="mt-4 text-lg font-semibold pt-5 dark_blue_text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,<br> sed diam nonumy eirmod tempor invidunt ut labore et<br> dolore magna.</p>
              <div class="mt-6">
                <a href="#" class="inline-flex rounded-lg px-10 py-3 font-semibold leading-7 text-white shadow-sm ring-1 hover:bg-sky-700 cta_bg">
                  Get started
                  <%= image_tag("cta_arrow.svg", class: "svg ml-2") %>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:mt-0">
         <div class="hidden flex justify-end lg:flex mr-10 mb-12"> 
           <p id="inquire" class="text-sm mt-5 mr-3 text-right">Inquire us now to <br> avail discounts!</p>
           <%= image_tag("arrow.svg", class: "h-10 w-auto") %>
         </div>
          <%= image_tag("hero-illustration.svg", class: "w-screen xs:absolute xs:left-0 xs:h-full xs:w-auto xs:max-w-none") %>
        </div>
      </div>
    </div>
    <div class="mt-20">
      <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
        <div class="mx-auto max-w-xl px-6 lg:col-start-2 lg:mx-0 lg:max-w-none lg:py-32 lg:px-0">
          <div>
            <div class="mt-6">
              <h2 class="text-5xl font-bold tracking-tight text-white">Our Commitment</h2>
              <p class="mt-8 text-lg text-white tracking-wide">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At
                vero eos et accusam et justo duo dolores et ea rebum.
              </p>
              <div class="mt-6">
                <a href="#" class="inline-flex rounded-lg cta_bg2 px-6 py-3 text-base font-semibold leading-7 shadow-sm ring-1 hover:ring-sky-700">
                  Learn More
                  <%= image_tag("cta_arrow2.svg", class: "svg ml-3") %>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:col-start-1 lg:mt-0">
          <div class="md:-ml-48 md:pr-4 sm:pr-6 md:-ml-16 lg:relative lg:m-0 lg:h-full lg:px-0">
            <%= image_tag("group_hero_img.png", class: "w-screen xs:right-0 xs:absolute xs:h-full xs:w-auto xs:max-w-none") %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-4xl text-center mb-12 text-white font-bold">Trusted By Awesome <span style="color:#F6C644"> Clients </span> </h1>
      <div class="grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-6">
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <%= image_tag("binance.svg") %><span class="inline text-white text-3xl font-semibold my-auto ml-4">Binance</span>
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <%= image_tag("bitcoin.svg", class: "h-12") %><span class="inline text-white text-3xl font-semibold my-auto ml-4">Bitcoin</span>
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <%= image_tag("solana-sol-logo.svg", class: "h-12") %><span class="inline text-white text-3xl font-semibold my-auto ml-4">Solana</span>
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <%= image_tag("ethereum.svg", class: "h-12") %><span class="inline text-white text-3xl font-semibold my-auto ml-4">Ethereum</span>
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <%= image_tag("tether-usdt-logo.svg", class: "h-12") %><span class="inline text-white text-3xl font-semibold my-auto ml-4">Tether</span>
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <%= image_tag("xrp.svg", class: "h-12") %><span class="inline text-white text-3xl font-semibold my-auto ml-4">XRP</span>
        </div>
      </div>
    </div>
  </div>
</div>
